version: "3.8"

services:
  cardlibrary:
    build: .
    container_name: cardlibrary_app
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/carddb
      - SPRING_DATASOURCE_USERNAME=carduser
      - SPRING_DATASOURCE_PASSWORD=cardpass
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:16
    container_name: cardlibrary_postgres
    environment:
      POSTGRES_DB: carddb
      POSTGRES_USER: carduser
      POSTGRES_PASSWORD: cardpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: unless-stopped
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres

volumes:
  postgres_data:

    
    

